*{
    margin: 0%;
    padding: 0%;
    background-color: rgb(182, 182, 182);
}

.tamacont{
    width: 45em;
}
.row {
    display: flex;
}
.row3 {
    display: flex;
}
.row {
    display: flex;
}

.col {
    flex:.9;
    padding: 20px;
    margin: 10px; 

}  

.col-4 {
    flex: 3;
    padding: 20px;
    margin: 10px;
}
.container{
    padding: 0px 10px 1px 10px;
    margin: 3em 300px 10px 300px;
    border:#000000 solid 1px;

}

.tama{
    flex: .5;
    height: 20em;
}

.tama2{
    height: 30em;
}

.tama3{
    height: 10em;
}

.likes{
    display: flex;

}

.tama4{
font-size: 2em;
}

.txt1{
    font-size: 2em;
}


.boton{
    height: 1em;
    width: 3em;
    background-color: #ffee00;
    color: #000000;
    border: none;
    font-size: 25px;
    box-shadow: 10px 10px #000000;
}