body{
    margin: 0;
    padding: 0;
    background-color: rgb(156, 156, 156);
}
.row {
    display: flex;
}
.row3 {
    display: flex;
}
.row {
    display: flex;
}

.col {
    flex:.9;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 0, 191);

}  

.nav {
    height: 3em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    margin-left: 28em;
    
}

.col-3{
    flex: .3;
    padding: 20px;
    margin: 10px;
    background-color: rgb(255, 225, 0);
}

.col-4 {
    flex: 3;
    padding: 20px;
    margin: 10px;
    background-color: palegreen;
}
.container{
    padding: 0px 10px 1px 10px;
    margin: 0px 300px 10px 300px;
}

.tama{
    flex: .5;
    height: 20em;
}

.tama2{
    height: 30em;
}

.tama3{
    height: 10em;
}